@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import '~font-awesome/css/font-awesome.min.css';

html, body {
  min-height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
}

.tiny {
  font-size: .6em;
}
